<app-layout name="">
  <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Create Account Form</h4>

                <form>

                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formrow-username-input" class="form-label">Username</label>
                                <input type="text" class="form-control" id="formrow-username-input" placeholder="Enter Your Username">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formrow-password-input" class="form-label">Password</label>
                                <input type="password" class="form-control" id="formrow-password-input" placeholder="Enter Your Password">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        
                        <div class="col-md-6">

                            <div class="mb-3">
                                <label for="formrow-fullname-input" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="formrow-fullname-input" placeholder="Enter Your Full Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formrow-phonenumber-input" class="form-label">Phone Number</label>
                                <input type="text" class="form-control" id="formrow-phonenumber-input" placeholder="Enter Your Phone Number">
                            </div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="formrow-address-input">Address</label>
                        <textarea id="formrow-address-input" class="form-control" rows="3" placeholder="Enter Your Address"></textarea>
                    </div>

                    <div class="mb-3">
                        
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                              Check me out
                            </label>
                        </div>
                    </div>
                    <div>
                        <button ng-click="submit()" class="btn btn-primary w-md">Submit</button>
                    </div>
                </form>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
  </div>
</app-layout>
