<app-layout>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <button ng-click="search.status = ''" type="button" class="btn btn-danger p-3 me-1">
                        Tất cả <span class="badge rounded-pill bg-dark">{{getTotalStatus()}}</span>
                    </button>
                    <button ng-click="search.status = item.id" ng-repeat="item in statuses" type="button" class="btn p-3 me-1" ng-class="getColor('btn', item.id)">
                        {{item.name}} <span class="badge rounded-pill bg-dark">{{checkStatusCount(item.id)}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header bg-transparent border-bottom text-uppercase">
                    HÓA ĐƠN
                </h5>
                <div class="card-body">
                    <input class="form-control mb-3" type="search" placeholder="Tìm kiếm"
                        id="search-datatable-invoices">
                    <table id="datatable-invoices" class="table table-bordered dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mã đặt</th>
                                <th>Khách hàng</th>
                                <th>Nhân viên</th>
                                <th>Tổng tiền</th>
                                <th>Trạng thái</th>
                                <th>Ngày tạo</th>
                                <th style="width: 100px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in invoices | filter : { status: search.status }">
                                <td>
                                    <b>{{$index + 1}}</b>
                                </td>
                                <td>{{item.bookingCode}}</td>
                                <td>{{item.customer}}</td>
                                <td>{{item.staff}}</td>
                                <td>{{item.total | currency: '' : 0}}₫</td>
                                <td>
                                    <span class="badge rounded-pill" ng-class="getColor('bg', item.status)">
                                        {{item.status == 1 ? 'Đang chờ' : (item.status == 2 ? 'Chưa thanh toán' :  (item.status == 3 ? 'Chờ thanh toán' : (item.status == 4 ? 'Hoàn thành' : 'Đã huỷ')))}}
                                    </span>
                                </td>
                                <td>{{item.createdDate | date:'HH:mm dd/MM/yyyy'}}</td>
                                <td>
                                    <a href="/#!/invoices/{{item.code}}" class="btn btn-outline-secondary btn-sm edit" title="Chi tiết">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div ng-show="isLoading" class="loader"> 
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>
</app-layout>