<app-layout>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table id="datatable-invoices" class="table table-bordered dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Khách hàng</th>
                                <th>Nhân viên</th>
                                <th>Tổng tiền</th>
                                <th>Trạng thái</th>
                                <th>Ngày tạo</th>
                                <th style="width: 100px;">Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in invoices">
                                <th scope="row">{{item.code}}</th>
                                <td>{{item.booking.customer.fullName}}</td>
                                <td>{{item.account.fullName}}</td>
                                <td>{{item.total | currency: '' : 0}}₫</td>
                                <td>
                                    <span class="badge rounded-pill " ng-class="item.status == 1 ? 'bg-secondary' : (item.status == 2 ? 'bg-primary' : 'bg-success')">
                                        {{item.status == 1 ? 'Đang chờ' : (item.status == 2 ? 'Chưa thanh toán' :  (item.status == 3 ? 'Chờ thanh toán' : (item.status == 4 ? 'Hoàn thành' : 'Đã huỷ')))}}
                                    </span>
                                </td>
                                <td>{{item.createdDate | date:'dd/MM/yyyy'}}</td>
                                <td>
                                    <a href="/#!/invoices/{{item.code}}" class="btn btn-outline-secondary btn-sm edit" title="View">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->
    <div id="modal-invoice-detail" class="modal modal-lg fade" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Service room</h5>
                    <button ng-click="modalInvoiceDetail('hide')" type="button" class="btn-close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label>
                            <span>Search:</span>
                            <input ng-model="searchCustomer" type="search" class="form-control form-control-sm">
                        </label>
                    </div>
                    <div class="table-responsive">
                        <table id="datatable-service-room" class="table align-middle table-nowrap table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Date of Birth</th>
                                    <th scope="col">People ID</th>
                                    <th scope="col" style="width: 100px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in customers | filter:searchCustomer">
                                    <th scope="row">
                                        {{item.fullName}}
                                    </th>
                                    <td>{{item.phoneNumber}}</td>
                                    <td>{{item.gender ? "Nữ" : "Nam"}}</td>
                                    <td>{{item.dateOfBirth | date:'dd/MM/yyyy'}}</td>
                                    <td>{{item.peopleId}}</td>
                                    <td>
                                        <ul class="list-unstyled hstack gap-1 mb-0">
                                            <button ng-click="addHostedAt(item)" class="btn btn-sm btn-soft-success"><i
                                                    class="mdi mdi-plus"></i></button>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="modalInvoiceDetail('hide')" class="btn btn-primary">Close</button>
                </div>
            </div>
        </div>
    </div>
</app-layout>