<app-layout>
    <div class="row">
        <!-- <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Phụ thu</h4>
                    <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#home1" role="tab">
                                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                <span class="d-none d-sm-block">Nhận phòng sớm</span> 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#profile1" role="tab">
                                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                <span class="d-none d-sm-block">Trả phòng trễ</span> 
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content p-3 text-muted">
                        <div class="tab-pane active" id="home1" role="tabpanel">
                            <div class="row">
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label for="formrow-inputCity" class="form-label">Từ</label>
                                        <input class="form-control" type="time" readonly>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label for="formrow-inputState" class="form-label">Đến</label>
                                        <input class="form-control" type="time" readonly>
                                    </div>
                                </div>
                                
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label for="formrow-inputZip" class="form-label">Phần trăm</label>
                                        <input type="number" min="0" max="100" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="profile1" role="tabpanel">
                            <p class="mb-0">
                                Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                                single-origin coffee squid. Exercitation +1 labore velit, blog
                                sartorial PBR leggings next level wes anderson artisan four loko
                                farm-to-table craft beer twee. Qui photo booth letterpress,
                                commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
                                vinyl cillum PBR. Homo nostrud organic, assumenda labore
                                aesthetic magna delectus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Cấu hình giờ</h4>
                    <div class="mb-3">
                        <label for="formrow-checkin-input" class="form-label">Giờ nhận phòng</label>
                        <input ng-model="setting.checkinTime" class="form-control" type="time">
                    </div>
                    <div class="mb-3">
                        <label for="formrow-firstname-input" class="form-label">Giờ trả phòng</label>
                        <input ng-model="setting.checkoutTime" class="form-control" type="time">
                    </div>
                    <button ng-click="update()" class="btn btn-primary">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>
</app-layout>