<app-layout name="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <form>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formrow-username-input" class="form-label">Name</label>
                                <input ng-model="form.name" type="text" class="form-control" id="formrow-username-input"
                                    placeholder="Enter Your  Promotion Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formrow-password-input" class="form-label">Percent %</label>
                                <input type="number" class="form-control" ng-model="form.percent"
                                    id="formrow-password-input" placeholder="Enter Your Promotion Percent">
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formrow-password-input" class="form-label">Max Discount</label>
                                <input type="number" class="form-control" ng-model="form.maxDiscount"
                                    id="formrow-password-input" placeholder="Enter Your Max Discount">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formrow-password-input" class="form-label">Min Amount</label>
                                <input type="number" class="form-control" ng-model="form.minAmount"
                                    id="formrow-password-input" placeholder="Enter Your Max Discount">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="formrow-address-input">Description</label>
                            <textarea ng-model="form.description" id="formrow-address-input" class="form-control"
                                rows="3" placeholder="Enter Your Description"></textarea>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formrow-status-input" class="form-label">Loại khuyến mại</label><br>
                                <input ng-model="form.type" ng-value="true"  type="radio"
                                    class="form-check-input" name="type" />
                                <label style="margin-left: 10px;">Cho hoá đơn</label>
                                <input ng-model="form.type" ng-value="false"  type="radio"
                                    class="form-check-input" name="type" />
                                <label style="margin-left: 10px;">Cho phòng</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="formrow-address-input"> Ngày bắt đầu</label>
                            <div class="input-daterange input-group" id="datepicker6" data-date-format="dd-mm-yyyy"
                                data-date-autoclose="true" data-provide="datepicker" data-date-container='#datepicker6'>
                                <input datepicker type="text" class="form-control" ng-model="form.startedDate"
                                    name="start" placeholder="Start" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="formrow-address-input"> Ngày kết thúc</label>
                            <div class="input-daterange input-group" id="datepicker6" data-date-format="dd-mm-yyyy"
                                data-date-autoclose="true" data-provide="datepicker" data-date-container='#datepicker6'>
                                <input datepicker type="text" class="form-control" ng-model="form.endedDate"
                                    name="end" placeholder="End" readonly />
                            </div>
                        </div>
                    </div>



                </form>
                <br>
                <div class="modal-footer">
                    <button ng-click="clear()" class="btn btn-secondary">Clear</button>
                    <button ng-if="showbut" ng-click="create()" class="btn btn-primary w-md">Submit</button>
                    <button ng-if="!showbut" ng-click="update()" class="btn btn-warning w-md">Save changes</button>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive" style=" max-height:500px;">
                            <h4 class="card-title">List of promotions</h4>

                            <div class="table-responsive">
                                <table class="table align-middle mb-0">

                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Percent</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="s in items | filter:searchName">
                                            <td>{{s.id}}</td>
                                            <td>{{s.name}}</td>
                                            <td>{{s.percent}}%</td>
                                            <td> <span class="badge rounded-pill font-size-11 "
                                                    ng-class="s.status ? 'bg-success' : 'badge-soft-danger '">{{s.status
                                                    ?
                                                    'Có hiệu lực' : 'Hết hạn'}}</span></td>
                                            <td>
                                                <a class="btn btn-outline-secondary btn-sm edit" title="View"
                                                    ng-click="view(s)">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <a ng-click="edit(s)" class="btn btn-outline-secondary btn-sm edit"
                                                    title="Edit">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- -- -->
    <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Promotion details</h1>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap">
                            <tbody>
                                <tr>
                                    <td>
                                        <h6 class="m-0 text-right">Id:</h6>
                                    </td>
                                    <td>
                                        {{form.id}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6 class="m-0 text-right">Name:</h6>
                                    </td>
                                    <td>
                                        {{form.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6 class="m-0 text-right">Percent:</h6>
                                    </td>
                                    <td>
                                        {{form.percent}}%
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6 class="m-0 text-right">Max Discount:</h6>
                                    </td>
                                    <td>
                                        {{form.maxDiscount}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6 class="m-0 text-right">Min Amount:</h6>
                                    </td>
                                    <td>
                                        {{form.minAmount}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6 class="m-0 text-right">Description:</h6>
                                    </td>
                                    <td>
                                        {{form.description}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6 class="m-0 text-right">End Date:</h6>
                                    </td>
                                    <td>
                                        <div class="input-daterange input-group" id="datepicker6"
                                            data-date-format="dd-mm-yyyy" data-date-autoclose="true"
                                            data-provide="datepicker" data-date-container='#datepicker6'>
                                            <input datepicker type="text" class="form-control" ng-model="form.endedDate"
                                                name="end" placeholder="End" readonly />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6 class="m-0 text-right">Trạng thái:</h6>
                                    </td>
                                    <td>
                                        <span class="badge rounded-pill "
                                            ng-class="form.status ? 'bg-success' : 'badge-soft-danger'">{{form.status
                                            ? 'Có hiệu lực' : 'Hết hạn'}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6 class="m-0 text-right"> Loại khuyến mại:</h6>
                                    </td>
                                    <td>
                                        <span class="badge rounded-pill "
                                            ng-class="form.type ? 'bg-success' : 'badge-soft-primary'">{{form.type
                                            ? 'Cho hoá đơn' : 'Cho phòng'}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="close()" class="btn btn-secondary">Close</button>
                </div>
            </div>
        </div>
</app-layout>