<app-layout name="">

    <!-- header -->
    <div class="row">
        <div class="col-md-4">
            <h1>Create Booking</h1>
        </div>
        <div class="col-md-4 text-center">
            <div id="loading-spinner" ng-show="loading">
                <i class="fa fa-spinner fa-spin" style="font-size: 30px"></i>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="text-sm-end">
                <a class="btn btn-success btn-lg" ng-href="/#!/bookings" role="button">
                    <i class="fas fa-arrow-left"></i> Back</a>
            </div>
        </div>
    </div>
    <p></p>
    <!-- handle -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div id="basic-example">
                        <form ng-submit="submitForm()">

                            <!-- Navigation buttons -->
                            <div class="row justify-content-between mt-3">
                                <div class="col-auto">
                                    <button type="button" class="btn btn-secondary" ng-click="prevSection()"
                                        ng-disabled="currentSection == 0">Previous</button>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-secondary" ng-click="nextSection()"
                                        ng-disabled="currentSection == 2">Next</button>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <h3 ng-class="{'active-tab': currentSection == 0}" class="tab-pill"><span
                                            class="circle">1</span> Chọn Phòng
                                    </h3>
                                </div>
                                <div class="col">
                                    <h3 ng-class="{'active-tab': currentSection == 1}" class="tab-pill"><span
                                            class="circle">2</span> Khách Hàng
                                    </h3>
                                </div>
                                <div class="col">
                                    <h3 ng-class="{'active-tab': currentSection == 2}" class="tab-pill"><span
                                            class="circle">3</span> Xác nhận</h3>
                                </div>
                            </div>

                            <!-- Section 1: Chọn phòng -->
                            <section ng-show="currentSection == 0">
                                <div id="select-room">
                                    <br>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-2">
                                                <div class="input-daterange input-group" id="datepicker6"
                                                    data-date-format="dd-mm-yyyy" data-date-autoclose="true"
                                                    data-provide="datepicker" data-date-container='#datepicker6'>
                                                    <input datepicker type="text" class="form-control"
                                                        ng-model="booking.checkinDate" name="start"
                                                        placeholder="Ngày checkin" readonly
                                                        ng-change="clearDataTable()" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="input-daterange input-group" id="datepicker6"
                                                    data-date-format="dd-mm-yyyy" data-date-autoclose="true"
                                                    data-provide="datepicker" data-date-container='#datepicker6'>
                                                    <input datepicker type="text" class="form-control"
                                                        ng-model="booking.checkoutDate" name="end"
                                                        placeholder="Ngày checkout" readonly
                                                        ng-change="clearDataTable()" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <select class="form-control" ng-model="booking.roomType"
                                                    ng-options="rt.code as rt.name for rt in roomTypes">
                                                    <option value="">Chọn loại phòng</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="dropdown-center">
                                                    <input type="text" class="form-control"
                                                        placeholder="1 phòng : 2 người lớn : 0 trẻ em" readonly
                                                        ng-value="booking.adults + ' người lớn : ' + booking.children + ' trẻ em'"
                                                        role="button" data-bs-toggle="dropdown"
                                                        data-bs-auto-close="false" />
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <div class="row">
                                                                <div class="col-md-1"></div>
                                                                <div class="col-md-5">
                                                                    <label style="margin-top: 9px;">Người lớn <br> (≥
                                                                        13 tuổi)</label>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <p></p>
                                                                    <div class="input-group">
                                                                        <input class="form-control" type="number"
                                                                            ng-model="booking.adults" min="1">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-1"></div>
                                                            </div>
                                                        </li>
                                                        <p></p>
                                                        <li>
                                                            <div class="row">
                                                                <div class="col-md-1"></div>
                                                                <div class="col-md-5">
                                                                    <label style="margin-top: 9px;">Trẻ em <br> (< 13
                                                                            tuổi) </label>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <p></p>
                                                                    <div class="input-group">
                                                                        <input class="form-control" type="number"
                                                                            ng-model="booking.children" min="0">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-1"></div>
                                                            </div>
                                                        </li>
                                                        <p></p>
                                                        <li>
                                                            <div class="row">
                                                                <div class="col-md-12 text-center">
                                                                    <button class="btn btn-secondary" type="button"
                                                                        ng-click="closeDropdown()">Xong</button>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-secondary" style="width: 100%;"
                                                    ng-click="checkRoom()">Kiểm
                                                    tra</button>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </form>
                                    <p></p>
                                    <div class="alert alert-warning text-center" role="alert" ng-show="showAlert">
                                        {{alertMessage}}
                                    </div>
                                    <p></p>
                                    <!-- table -->
                                    <table class="table table-bordered mb-0">
                                        <thead style="text-align: center;">
                                            <tr>
                                                <th style="width: 20%;">
                                                    <h4>Danh mục</h4>
                                                </th>
                                                <th style="width: 30%;">
                                                    <h4>Chi tiết</h4>
                                                </th>
                                                <th style="width: 10%;">
                                                    <h4>Giá</h4>
                                                </th>
                                                <th style="width: 10%;">
                                                    <h4>Số lượng</h4>
                                                </th>
                                                <th style="width: 10%;">
                                                    <h4>Đặt</h4>
                                                </th>
                                                <th style="width: 30%;">
                                                    <h4>Chi tiết</h4>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody style="font-size: 15px;">
                                            <tr ng-repeat="info in bookings">
                                                <td>
                                                    <span>{{ info.name }}</span>
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <span> Số người lớn tối đa:
                                                                <strong>{{info.maxAdults}}</strong>
                                                                (Phụ phí:
                                                                <strong>{{info.roomType.adultSurcharge |
                                                                    currency: '' : 0}}đ</strong>)</span>
                                                        </li>
                                                        <li>
                                                            <span> Số trẻ em tối đa:
                                                                <strong>{{info.maxChilds}}</strong>
                                                                (Phụ phí:
                                                                <strong>{{info.roomType.childSurcharge |
                                                                    currency: '' : 0}}đ</strong>)</span>
                                                        </li>
                                                        <li>
                                                            <span> Chính sách huỷ:
                                                                <strong>{{info.roomType.cancellationPolicy}}</strong>
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span> Chính sách khác:
                                                                <strong>{{info.roomType.otherPolicy}}</strong>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <strong>{{ info.minPrice === info.maxPrice ?
                                                        (info.maxPrice | currency: '' : 0) :
                                                        (info.minPrice | currency: '' : 0) + ' - ' +
                                                        (info.maxPrice
                                                        |
                                                        currency: '' : 0) }}đ</strong>
                                                </td>
                                                <td style="text-align: center;">
                                                    <span>{{ info.quantity }}</span>
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <input class="form-control" type="number"
                                                            ng-model="info.roomCount" ng-init="info.roomCount = 0"
                                                            min="0" max="{{ info.quantity }}" readonly>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-1"></div>
                                                        <div class="col-sm-10">
                                                            <div class="row">
                                                                <div class="col-sm-3 form-check"
                                                                    ng-repeat="room in info.listRooms">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        id="{{room.code}}" ng-model="room.selected"
                                                                        ng-change="updateSelectedRooms(info)">
                                                                    <label class="form-check-label" for="{{room.code}}">
                                                                        {{ room.code }}
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-1"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                            <!-- Section 2: Khách hàng -->
                            <section ng-show="currentSection == 1">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="fullName" class="form-label">Họ tên</label>
                                                    <input type="text" class="form-control" id="fullName"
                                                        placeholder="Full Name" ng-model="customer.fullName" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="gender" class="form-label">Giới tính</label>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <input class="form-check-input" type="radio" name="gender"
                                                                id="male" ng-model="customer.gender" ng-value="true">
                                                            <label class="form-check-label" for="male">
                                                                Nam
                                                            </label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input class="form-check-input" type="radio" name="gender"
                                                                id="female" ng-model="customer.gender" ng-value="false">
                                                            <label class="form-check-label" for="female">
                                                                Nữ
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="dateOfBirth" class="form-label">Ngày sinh</label>
                                                    <div class="input-daterange input-group" id="datepicker6"
                                                        data-date-format="dd-mm-yyyy" data-date-autoclose="true"
                                                        data-provide="datepicker" data-date-container='#datepicker6'>
                                                        <input datepicker type="text" class="form-control"
                                                            ng-model="customer.dateOfBirth" name="dob"
                                                            placeholder="Ngày sinh" style="text-align: left;" />
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="peopleId" class="form-label">Số cccd/cmnd</label>
                                                    <input type="text" class="form-control" id="peopleId"
                                                        placeholder="Số cccd/cmnd" required
                                                        ng-model="customer.peopleId">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="address" class="form-label">Địa chỉ</label>
                                                    <input type="text" class="form-control" id="address"
                                                        placeholder="Địa chỉ" required ng-model="customer.address">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="placeOfBirth" class="form-label">Thường trú</label>
                                                    <input type="text" class="form-control" id="placeOfBirth"
                                                        placeholder="Thường trú" required
                                                        ng-model="customer.placeOfBirth">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="phoneNumber" class="form-label">Số điện thoại</label>
                                                    <input type="text" class="form-control" id="phoneNumber"
                                                        placeholder="Số điện thoại" required
                                                        ng-model="customer.phoneNumber">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="email" class="form-label">Email</label>
                                                    <input type="text" class="form-control" id="email"
                                                        placeholder="Email" required ng-model="customer.email">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="email" class="form-label">Chụp ảnh cmnd/cccd
                                                        <button type="button" class="btn btn-secondary btn-sm"
                                                            ng-click="takePicture()">Camera</button>
                                                    </label>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="card mb-3">
                                                                <div class="card-header">
                                                                    Mặt trước
                                                                </div>
                                                                <div class="card-body">
                                                                    <img ng-src="{{ frontIdCardDisplay }}"
                                                                        style="width: 100%; height: 100%;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="card mb-3">
                                                                <div class="card-header">
                                                                    Mặt sau
                                                                </div>
                                                                <div class="card-body">
                                                                    <img ng-src="{{ backIdCardDisplay }}"
                                                                        style="width: 100%; height: 100%;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <!-- Section 3: Xác nhận -->
                            <section ng-show="currentSection == 2">
                                <div class="row confirmed-div">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <address>
                                                            <strong>Khách hàng:</strong><br>
                                                            <i>
                                                                {{customer.fullName}}
                                                            </i>
                                                        </address>
                                                    </div>
                                                    <div class="col-sm-6 text-sm-end">
                                                        <address class="mt-2 mt-sm-0">
                                                            <strong>Số điện thoại:</strong><br>
                                                            <i>
                                                                {{customer.phoneNumber}}
                                                            </i>
                                                        </address>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 mt-3">
                                                        <address>
                                                            <strong>Thời gian:</strong><br>
                                                            <span>Check in: <i>{{booking.checkinDate |
                                                                    date:'dd-MM-yyyy'}}</i></span><br>
                                                            <span>Check out: <i>{{booking.checkoutDate |
                                                                    date:'dd-MM-yyyy'}}</i></span><br>
                                                        </address>
                                                    </div>
                                                    <div class="col-sm-6 text-sm-end">
                                                        <address class="mt-2 mt-sm-0">
                                                            <strong>Số phòng:</strong><br>
                                                            <i>
                                                                {{rooms.length}}
                                                            </i>
                                                        </address>
                                                    </div>
                                                </div>
                                                <div class="py-2 mt-3">
                                                    <h3 class="font-size-15 fw-bold">Thông tin</h3>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table table-nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 70px;">STT</th>
                                                                <th>Phòng</th>
                                                                <th>Giá 1 đêm</th>
                                                                <th>Số đêm</th>
                                                                <th class="text-end">Tổng</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="room in rooms">
                                                                <td>{{ $index + 1 }}</td>
                                                                <td>{{room.code}}</td>
                                                                <td>{{room.price | currency: '' : 0}}đ</td>
                                                                <td>{{(booking.checkoutDate - booking.checkinDate) /
                                                                    (1000*60*60*24)}}</td>
                                                                <td class="text-end">
                                                                    {{room.price *
                                                                    ((booking.checkoutDate - booking.checkinDate) /
                                                                    (1000*60*60*24))
                                                                    | currency: '' : 0}}đ
                                                                </td>
                                                            </tr>
                                                        </tbody>

                                                        <tfoot>
                                                            <tr>
                                                                <td colspan="4" class="border-0 text-end">
                                                                    <strong>Tổng tiền</strong>
                                                                </td>
                                                                <td class="border-0 text-end">
                                                                    <h2 class="m-0">
                                                                        {{totalPrice * ((booking.checkoutDate -
                                                                        booking.checkinDate) /
                                                                        (1000*60*60*24))|
                                                                        currency: '' : 0}}đ
                                                                    </h2>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4" class="border-0 text-end">
                                                                    <strong>Ghi chú</strong>
                                                                </td>
                                                                <td class="border-0 text-end">
                                                                    <textarea class="form-control" rows="3"
                                                                        ng-model="booking.note"></textarea>
                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                                <div class="d-print-none">
                                                    <div class="float-end">
                                                        <a href="javascript: void(0);"
                                                            class="btn btn-success w-md waves-effect waves-light"
                                                            ng-click="getBookings()">
                                                            Xác nhận</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



</app-layout>