<app-layout name="">

    <div class="row mb-2">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">
            <div id="loading-spinner" ng-show="loading">
                <i class="fa fa-spinner fa-spin" style="font-size: 30px"></i>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="text-sm-end">
                <a class="btn btn-success btn-lg" ng-href="/#!/bookings/create" role="button">
                    <i class="fas fa-plus"></i> Create</a>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xl-3 col-sm-6" ng-class="{'active-table': currentTable == 0}">
            <div class="card booking-header booking active" ng-click="toggleTable('bookingTable')">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <h2 class="text-truncate mb-4 mb-lg-5 text-center" style="margin-top: 15%;">
                        {{bookings.length}} BOOKINGS
                    </h2>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6" ng-class="{'active-table': currentTable == 1}">
            <div class="card booking-header customer" ng-click="toggleTable('customerTable')">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <h2 class="text-truncate mb-4 mb-lg-5 text-center" style="margin-top: 15%;">
                        {{customersInUse.length}} CUSTOMERS
                    </h2>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6" ng-class="{'active-table': currentTable == 2}">
            <div class="card booking-header confirmed" ng-click="toggleTable('confirmedTable')">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <h2 class="text-truncate mb-4 mb-lg-5 text-center" style="margin-top: 15%;">
                        {{(bookings | filter: {status: 2}).length}} CONFIRMED
                    </h2>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6" ng-class="{'active-table': currentTable == 3}">
            <div class="card booking-header pending" ng-click="toggleTable('pendingTable')">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <h2 class="text-truncate mb-4 mb-lg-5 text-center" style="margin-top: 15%;">
                        {{(bookings | filter: {status: 1}).length}} PENDING
                    </h2>
                </div>
            </div>
        </div>

    </div>

    <!-- Table booking -->

    <div class="row" ng-show="currentTable == 0">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <table id="bookingTable" class="table table-bordered dt-responsive nowrap w-100"
                        ng-show="showBookingTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Phòng</th>
                                <th>Số người lớn</th>
                                <th>Số trẻ em</th>
                                <th>Ngày đặt</th>
                                <th>Trạng thái</th>
                                <th>Chi tiết</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="booking in bookings | orderBy:'code'">
                                <th>{{booking.code}}</th>
                                <td>{{booking.numOfRoom}}</td>
                                <td>{{booking.adults}}</td>
                                <td>{{booking.childs}}</td>
                                <td>{{booking.createdDate | date:'HH:mm dd-MM-yyyy'}}</td>
                                <td>
                                    <span ng-if="booking.status == 0"
                                        class="badge badge-pill badge-soft-danger font-size-12">Huỷ</span>
                                    <span ng-if="booking.status == 1"
                                        class="badge badge-pill badge-soft-warning font-size-12">Chờ xác nhận</span>
                                    <span ng-if="booking.status == 2"
                                        class="badge badge-pill badge-soft-success font-size-12">Đã xác nhận</span>
                                    <span ng-if="booking.status == 3"
                                        class="badge badge-pill badge-soft-primary font-size-12">Đã xử lý</span>
                                </td>
                                <td>
                                    <a class="btn btn-outline-secondary btn-sm edit" title="View"
                                        ng-click="viewBooking(booking)">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <!-- Booking modal -->

    <div class="modal fade" id="booking-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="customer-modal-label">{{ bookingInfo.code }}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <div class="table-responsive">
                                        <table class="table table-striped table-nowrap mb-0">
                                            <thead>
                                                <tr>
                                                    <th style="width: 20%;">Khách hàng</th>
                                                    <th>{{bookingInfo.customer.fullName}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Số điện thoại</td>
                                                    <td>
                                                        {{bookingInfo.customer.phoneNumber}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Email</td>
                                                    <td>
                                                        {{bookingInfo.customer.email}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Ngày đặt</td>
                                                    <td>
                                                        {{currentBooking.createdDate | date:'HH:mm dd-MM-yyyy'}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Số người lớn</td>
                                                    <td>{{currentBooking.adults}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Số trẻ em</td>
                                                    <td>
                                                        {{currentBooking.childs}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Ghi chú</td>
                                                    <td>
                                                        {{currentBooking.note}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Số phòng</td>
                                                    <td>
                                                        {{currentBooking.numOfRoom}}
                                                    </td>
                                                </tr>
                                                <!-- Danh sách phòng -->
                                                <tr>
                                                    <td>Danh sách phòng</td>
                                                    <td colspan="2">
                                                        <table class="table table-striped table-nowrap mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Phòng</th>
                                                                    <th>Giá</th>
                                                                    <th>Check-in</th>
                                                                    <th>Check-out</th>
                                                                    <th>Số đêm</th>
                                                                    <th>Ghi chú</th>
                                                                    <th
                                                                        ng-if="currentBooking.status == 1 || currentBooking.status == 2">
                                                                        <a class="btn btn-outline-success btn-sm"
                                                                            title="Thêm phòng" ng-click="addRoom()">
                                                                            <i class="fas fa-plus"></i>
                                                                        </a>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="bk in bookingInfo.bkList">
                                                                    <td>{{bk.room.code}}</td>
                                                                    <td>{{bk.room.price | currency: '' : 0}}đ</td>
                                                                    <td>{{bk.checkinExpected | date:'dd-MM-yyyy'}}</td>
                                                                    <td>{{bk.checkoutExpected | date:'dd-MM-yyyy'}}</td>
                                                                    <td>{{(bk.checkoutExpected - bk.checkinExpected) /
                                                                        (1000*60*60*24)}}</td>
                                                                    <td>{{bk.note}}</td>
                                                                    <td
                                                                        ng-if="currentBooking.status == 1 || currentBooking.status == 2">
                                                                        <a class="btn btn-outline-secondary btn-sm"
                                                                            title="Sửa thông tin" ng-click="editRoom()">
                                                                            <i class="fas fa-pencil-alt"></i>
                                                                        </a>
                                                                        <a class="btn btn-outline-danger btn-sm"
                                                                            title="Xoá phòng" ng-click="deleteRoom()">
                                                                            <i class="fas fa-minus"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <!-- card footer -->
                                <div class="card-footer">
                                    <div ng-if="currentBooking.status == 0" class="row mb-2">
                                        <div class="alert alert-danger text-center" role="alert">
                                            <h4>ĐÃ HUỶ</h4>
                                        </div>
                                    </div>
                                    <div ng-if="currentBooking.status == 3" class="row mb-2">
                                        <div class="alert alert-primary text-center" role="alert">
                                            <h4>ĐÃ XỬ LÝ</h4>
                                        </div>
                                    </div>
                                    <div ng-if="currentBooking.status != 0 && currentBooking.status != 3"
                                        class="row mb-2">
                                        <div class="col-sm-5">
                                            <div class="text-sm-start">
                                                <a class="btn btn-secondary btn-lg" ng-click="" role="button">
                                                    Lịch sử chỉnh sửa</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-2">
                                                    <label class="col-form-label">Lí do huỷ</label>
                                                </div>
                                                <div class="col-10">
                                                    <textarea type="text" class="form-control"
                                                        ng-model="booking.reasonCancel"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="text-sm-end">
                                                <a class="btn btn-danger btn-lg" ng-click="cancelBooking()"
                                                    role="button">
                                                    Huỷ</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </div>
            </div>
        </div>
    </div>

    <!-- Add room modal -->

    <div class="modal fade" id="adđ-room-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content" style="border: 4px solid #198754; margin: 0px 10px 0 10px ">

                <div class="modal-header">
                    <h4 class="modal-title" id="customer-modal-label">Thêm phòng</h4>
                    <div id="loading-spinner" style="margin-left: 20px;" ng-show="loading">
                        <i class="fa fa-spinner fa-spin" style="font-size: 30px"></i>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <div id="select-room">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-2">
                                                    <label for="checkinDate" class="form-label">
                                                        Ngày checkin
                                                    </label>
                                                    <input type="date" class="form-control" id="checkinDate"
                                                        ng-model="addRoom.checkinDate" ng-change="clearDataTable()">
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="checkoutDate" class="form-label">
                                                        Ngày checkout
                                                    </label>
                                                    <input type="date" class="form-control" id="checkoutDate"
                                                        ng-model="addRoom.checkoutDate" ng-change="clearDataTable()">
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="form-label">
                                                        Chọn loại phòng
                                                    </label>
                                                    <select class="form-control" ng-model="addRoom.roomType"
                                                        ng-options="rt.code as rt.name for rt in roomTypes">
                                                    </select>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="form-label">
                                                        Số lượng khách
                                                    </label>
                                                    <div class="dropdown-center">
                                                        <input type="text" class="form-control"
                                                            placeholder="1 phòng : 2 người lớn : 0 trẻ em" readonly
                                                            ng-value="addRoom.adults + ' người lớn : ' + addRoom.children + ' trẻ em'"
                                                            role="button" data-bs-toggle="dropdown"
                                                            data-bs-auto-close="false" />
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <div class="row">
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-5">
                                                                        <label style="margin-top: 9px;">Người lớn <br>
                                                                            (≥
                                                                            13 tuổi)</label>
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                        <p></p>
                                                                        <div class="input-group">
                                                                            <input class="form-control" type="number"
                                                                                ng-model="addRoom.adults" min="1">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-1"></div>
                                                                </div>
                                                            </li>
                                                            <p></p>
                                                            <li>
                                                                <div class="row">
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-5">
                                                                        <label style="margin-top: 9px;">Trẻ em <br> (<
                                                                                13 tuổi) </label>
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                        <p></p>
                                                                        <div class="input-group">
                                                                            <input class="form-control" type="number"
                                                                                ng-model="addRoom.children" min="0">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-1"></div>
                                                                </div>
                                                            </li>
                                                            <p></p>
                                                            <li>
                                                                <div class="row">
                                                                    <div class="col-md-12 text-center">
                                                                        <button class="btn btn-secondary" type="button"
                                                                            ng-click="closeDropdown()">Xong</button>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="form-label">
                                                        ...
                                                    </label>
                                                    <button type="button" class="btn btn-secondary" style="width: 100%;"
                                                        ng-click="checkRoom()">Kiểm
                                                        tra</button>
                                                </div>
                                                <div class="col-md-1"></div>
                                            </div>
                                        </form>
                                        <p></p>
                                        <div class="alert alert-warning text-center" role="alert" ng-show="showAlert">
                                            {{alertMessage}}
                                        </div>
                                        <p></p>
                                        <!-- table -->
                                        <table class="table table-bordered mb-0">
                                            <thead style="text-align: center;">
                                                <tr>
                                                    <th style="width: 20%;">
                                                        <h4>Danh mục</h4>
                                                    </th>
                                                    <th style="width: 30%;">
                                                        <h4>Chi tiết</h4>
                                                    </th>
                                                    <th style="width: 10%;">
                                                        <h4>Giá</h4>
                                                    </th>
                                                    <th style="width: 10%;">
                                                        <h4>Số lượng</h4>
                                                    </th>
                                                    <th style="width: 10%;">
                                                        <h4>Đặt</h4>
                                                    </th>
                                                    <th style="width: 30%;">
                                                        <h4>Chi tiết</h4>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-size: 15px;">
                                                <tr ng-repeat="info in addBookings">
                                                    <td>
                                                        <span>{{ info.name }}</span>
                                                    </td>
                                                    <td>
                                                        <ul>
                                                            <li>
                                                                <span> Số người lớn tối đa:
                                                                    <strong>{{info.maxAdults}}</strong>
                                                                    (Phụ phí:
                                                                    <strong>{{info.roomType.adultSurcharge |
                                                                        currency: '' : 0}}đ</strong>)</span>
                                                            </li>
                                                            <li>
                                                                <span> Số trẻ em tối đa:
                                                                    <strong>{{info.maxChilds}}</strong>
                                                                    (Phụ phí:
                                                                    <strong>{{info.roomType.childSurcharge |
                                                                        currency: '' : 0}}đ</strong>)</span>
                                                            </li>
                                                            <li>
                                                                <span> Chính sách huỷ:
                                                                    <strong>{{info.roomType.cancellationPolicy}}</strong>
                                                                </span>
                                                            </li>
                                                            <li>
                                                                <span> Chính sách khác:
                                                                    <strong>{{info.roomType.otherPolicy}}</strong>
                                                                </span>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <strong>{{ info.minPrice === info.maxPrice ?
                                                            (info.maxPrice | currency: '' : 0) :
                                                            (info.minPrice | currency: '' : 0) + ' - ' +
                                                            (info.maxPrice
                                                            |
                                                            currency: '' : 0) }}đ</strong>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <span>{{ info.quantity }}</span>
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <input class="form-control" type="number"
                                                                ng-model="info.roomCount" ng-init="info.roomCount = 0"
                                                                min="0" max="{{ info.quantity }}" readonly>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-sm-1"></div>
                                                            <div class="col-sm-10">
                                                                <div class="row">
                                                                    <div class="col-sm-4 form-check"
                                                                        ng-repeat="room in info.listRooms">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            id="{{room.code}}" ng-model="room.selected"
                                                                            ng-change="updateSelectedRooms(info)">
                                                                        <label class="form-check-label"
                                                                            for="{{room.code}}">
                                                                            {{ room.code }}
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-1"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p></p>
                                    <div class="alert alert-warning text-center" role="alert" ng-show="showAlert">
                                        {{alertMessage}}
                                    </div>
                                </div>
                                <!-- card footer -->
                                <div class="card-footer">
                                    <div class="row mb-2">
                                        <div class="col-sm-5"></div>
                                        <div class="col-sm-5">
                                            <div class="row">
                                                <div class="col-2">
                                                    <label class="col-form-label">Ghi chú</label>
                                                </div>
                                                <div class="col-10">
                                                    <textarea type="text" class="form-control"
                                                        ng-model="addRoom.note"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="text-sm-end">
                                                <a class="btn btn-success btn-lg" ng-click="addRoomToBooking()"
                                                    role="button">
                                                    Thêm phòng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </div>
            </div>
        </div>
    </div>

    <!-- Customer table -->

    <div class="row" ng-show="currentTable == 1">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <table id="customerTable" class="table table-bordered dt-responsive  nowrap w-100"
                        ng-show="showCustomerTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="customer in customersInUse">
                                <th scope="row">{{$index + 1}}</th>
                                <td>{{customer.fullName}}</td>
                                <td>{{customer.phoneNumber}}</td>
                                <td>{{customer.email}}</td>
                                <td>
                                    <span class="badge rounded-pill" ng-class="{'bg-warning': customer.customerType.code == 'member', 
                                        'bg-success': customer.customerType.code == 'vip'}">
                                        {{customer.customerType.name}}
                                    </span>
                                </td>
                                <td>
                                    <a class="btn btn-outline-secondary btn-sm edit" title="View"
                                        ng-click="viewCustomer(customer)">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a class="btn btn-outline-secondary btn-sm edit" title="Edit"
                                        href="#!/customers/edit/{{customer.id}}">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <!-- Confirmed table -->

    <div class="row" ng-show="currentTable == 2">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <table id="confirmedTable" class="table table-bordered dt-responsive  nowrap w-100"
                        ng-show="showConfirmedTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Phòng</th>
                                <th>Số người lớn</th>
                                <th>Số trẻ em</th>
                                <th>Ngày đặt</th>
                                <th>Trạng thái</th>
                                <th>Chi tiết</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="booking in bookings" ng-if="booking.status === 2">
                                <th>{{booking.code}}</th>
                                <td>{{booking.numOfRoom}}</td>
                                <td>{{booking.adults}}</td>
                                <td>{{booking.childs}}</td>
                                <td>{{booking.createdDate | date:'HH:mm dd-MM-yyyy'}}</td>
                                <td>
                                    <span ng-if="booking.status == 0"
                                        class="badge badge-pill badge-soft-danger font-size-12">Huỷ</span>
                                    <span ng-if="booking.status == 1"
                                        class="badge badge-pill badge-soft-warning font-size-12">Chờ xác nhận</span>
                                    <span ng-if="booking.status == 2"
                                        class="badge badge-pill badge-soft-success font-size-12">Đã xác nhận</span>
                                </td>
                                <td>
                                    <a class="btn btn-outline-secondary btn-sm edit" title="View"
                                        ng-click="viewBooking(booking)">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <!-- Pending table -->

    <div class="row" ng-show="currentTable == 3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <table id="pendingTable" class="table table-bordered dt-responsive  nowrap w-100"
                        ng-show="showPendingTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Phòng</th>
                                <th>Số người lớn</th>
                                <th>Số trẻ em</th>
                                <th>Ngày đặt</th>
                                <th>Trạng thái</th>
                                <th>Chi tiết</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="booking in bookings" ng-if="booking.status === 1">
                                <th>{{booking.code}}</th>
                                <td>{{booking.numOfRoom}}</td>
                                <td>{{booking.adults}}</td>
                                <td>{{booking.childs}}</td>
                                <td>{{booking.createdDate | date:'HH:mm dd-MM-yyyy'}}</td>
                                <td>
                                    <span ng-if="booking.status == 0"
                                        class="badge badge-pill badge-soft-danger font-size-12">Huỷ</span>
                                    <span ng-if="booking.status == 1"
                                        class="badge badge-pill badge-soft-warning font-size-12">Chờ xác
                                        nhận</span>
                                    <span ng-if="booking.status == 2"
                                        class="badge badge-pill badge-soft-success font-size-12">Đã xác
                                        nhận</span>
                                </td>
                                <td>
                                    <a class="btn btn-outline-secondary btn-sm edit" title="View"
                                        ng-click="viewBooking(booking)">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</app-layout>