<app-layout>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <h5 class="fw-semibold flex-grow-1">Thông tin</h5>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="formrow-fullname-input" class="form-label">Khách hàng</label>
                                    <input ng-value="booking.customer.fullName" class="form-control"
                                        id="formrow-fullname-input" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="formrow-email-input" class="form-label">CCCD/CMT</label>
                                    <input ng-value="booking.customer.peopleId" class="form-control"
                                        id="formrow-email-input" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="formrow-email-input" class="form-label">Phone Number</label>
                                    <input ng-value="booking.customer.phoneNumber" class="form-control"
                                        id="formrow-email-input" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="formrow-firstname-input" class="form-label">Email</label>
                                    <input ng-value="booking.customer.email" class="form-control"
                                        id="formrow-firstname-input" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="formrow-firstname-input" class="form-label">Checkin Expected</label>
                                    <input ng-value="booking.checkinExpected | date:'dd/MM/yyyy'"
                                        type="text" class="form-control" id="formrow-firstname-input" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="formrow-firstname-input" class="form-label">Checkout Expected</label>
                                    <input ng-value="booking.checkoutExpected | date:'dd/MM/yyyy'"
                                        type="text" class="form-control" id="formrow-firstname-input" readonly>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <!-- end card body -->
                <div ng-repeat="(key, value) in checkoutRoom" class="card-body border-top">
                    <div class="d-flex align-items-center">
                        <h5 class="fw-semibold flex-grow-1">Phòng {{key}}</h5>
                        <div class="flex-shrink-0">
                            <button ng-click="modalServiceRoom('show')" class="btn btn-sm btn-soft-primary"><i
                                    class="mdi mdi-format-list-bulleted"></i></button>
                            <button ng-click="loadUsedServices()" class="btn btn-sm btn-light"><i
                                    class="mdi mdi-refresh"></i></button>
                        </div>
                    </div>
                    <!-- <p class="mb-2">Loại phòng: <span class="text-primary">{{bookingDetail.room.roomType.name}}</span> -->
                    <p class="mb-2">Giá phòng: <span class="text-primary">{{value.bookingDetail.room.price | currency : ""}} VNĐ/ngày</span>
                    <p class="mb-2">Ngày thuê dự kiến: <span class="text-primary">{{value.bookingDetail.checkinExpected | date:'dd/MM/yyyy'}}</span> - <span class="text-primary">{{value.bookingDetail.checkoutExpected | date:'dd/MM/yyyy'}}</span>
                    <p class="mb-4">Số ngày thuê dự kiến: <span class="text-primary">{{getDate(value.bookingDetail)}} ngày</span>
                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap">
                            <thead>
                                <tr>
                                    <th scope="col">Tên dich vụ</th>
                                    <th scope="col">Loại</th>
                                    <th scope="col" class="text-end">Giá</th>
                                    <th scope="col" class="text-end" style="width: 250px;">Số lượng</th>
                                    <th scope="col" class="text-end" style="width: 250px;">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in value.usedServices">
                                    <th scope="row">
                                        {{item.serviceRoom.name}}
                                    </th>
                                    <td>{{item.serviceRoom.serviceType.name}}</td>
                                    <td class="text-end">{{item.serviceRoom.price}}</td>
                                    <td class="text-end">{{item.quantity}}</td>
                                    <td class="text-end">{{item.serviceRoom.price * item.quantity}}</td>
                                </tr>
                                <tr ng-show="value.usedServices.length == 0">
                                    <td colspan="5" class="text-center">Dịch vụ trống</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-end">Tiền dịch vụ</td>
                                    <td class="text-end">{{totalUsedService(value.usedServices) + ' VNĐ'}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-end">Tiền phòng</td>
                                    <td class="text-end">{{totalRoom(value.bookingDetail) + ' VNĐ'}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="border-0 text-end">
                                        <strong>Tổng tiền phòng</strong></td>
                                    <td class="border-0 text-end"><h4 class="m-0">{{total(value.bookingDetail, value.usedServices) + ' VNĐ'}}</h4></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end card body -->
                <div class="card-body border-top">
                    <div class="d-flex flex-wrap gap-2">
                        <button ng-click="checkout()" class="btn btn-primary waves-effect waves-light">Trả phòng</button>
                        <button type="submit" class="btn btn-secondary waves-effect waves-light">Cancel</button>
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
    </div>
</app-layout>