<app-layout>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="mb-2">Thông tin khách hàng</h5>
                    <table class="table mb-0 table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 300px;">Họ và tên</th>
                                <td>{{invoiceDetail.invoice.booking.customer.fullName}}</td>
                            </tr>
                            <tr>
                                <th scope="row">CCCD/CMND</th>
                                <td>{{invoiceDetail.invoice.booking.customer.peopleId}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{invoiceDetail.invoice.booking.customer.email}}</td>
                            </tr>
                            <tr>
                                <th scope="row">SĐT</th>
                                <td>{{invoiceDetail.invoice.booking.customer.phoneNumber}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-4">
                        <h5 class="mb-2">Thông tin phòng</h5>
                        <table class="table mb-0 table-bordered">
                            <tbody>
                                <tr>
                                    <th scope="row" style="width: 300px;">Loại phòng</th>
                                    <td>{{invoiceDetail.room.roomType.name}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Giá phòng</th>
                                    <td>{{invoiceDetail.room.price | currency: '' : 0}}₫</td>
                                </tr>
                                <tr>
                                    <th scope="row">Ngày nhận</th>
                                    <td>{{invoiceDetail.invoice.booking.checkinExpected | date:'dd/MM/yyyy'}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Ngày trả</th>
                                    <td>{{invoiceDetail.invoice.booking.checkoutExpected | date:'dd/MM/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end card body -->
                <div class="card-body border-top">
                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tên dịch vụ</th>
                                    <th scope="col">Loại</th>
                                    <th scope="col" class="text-end">Giá</th>
                                    <th scope="col" class="text-end" style="width: 250px;">Số lượng</th>
                                    <th scope="col" class="text-end" style="width: 250px;">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in usedServices">
                                    <th scope="row">
                                        {{item.serviceRoom.code}}
                                    </th>
                                    <td>{{item.serviceRoom.name}}</td>
                                    <td>{{item.serviceRoom.serviceType.name}}</td>
                                    <td class="text-end">{{item.serviceRoom.price | currency: '' : 0}}₫</td>
                                    <td class="text-end">{{item.quantity}}</td>
                                    <td class="text-end">{{item.serviceRoom.price * item.quantity | currency: '' : 0}}₫</td>
                                </tr>
                                <tr ng-show="value.usedServices.length == 0">
                                    <td colspan="6" class="text-center">Dịch vụ trống</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="border-0 text-end">Tiền dịch vụ</td>
                                    <td class="border-0 text-end">{{totalUsedService() | currency: '' : 0}}₫</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="border-0 text-end">Tiền phòng</td>
                                    <td class="border-0 text-end">{{totalRoom() | currency: '' : 0}}₫</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="border-0 text-end">
                                        <strong>Tổng tiền</strong></td>
                                    <td class="border-0 text-end"><h4 class="m-0">{{total() | currency: '' : 0}}₫</h4></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end card body -->
                <div class="card-body border-top">
                    <div class="d-flex flex-row-reverse ">
                        <button ng-click="checkout()" class="btn btn-primary waves-effect waves-light float-end"><i class="mdi mdi-logout-variant"></i> Trả phòng</button>
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
    </div>
</app-layout>