<app-layout>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <h5 class="fw-semibold flex-grow-1">Thông tin</h5>
                        <div class="flex-shrink-0">
                            <!-- <button ng-click="editable = !editable" class="btn btn-sm btn-soft-info"
                                data-bs-toggle="button"><i class="mdi mdi-pencil-outline"></i></button> -->
                            <button class="btn btn-sm btn-soft-success"><i class="mdi mdi-content-save"></i></button>
                        </div>
                    </div>
                    <p class="mb-2">Số phòng: <span class="text-primary">{{bookingDetail.room.code}}</span></p>
                    <p class="mb-2">Tầng: <span class="text-primary">{{bookingDetail.room.floor.name}}</span></p>
                    <p class="mb-2">Loại phòng: <span class="text-primary">{{bookingDetail.room.roomType.name}}</span>
                    <p class="mb-4">Giá phòng: <span class="text-primary">{{bookingDetail.room.price | currency : "VNĐ "}}/ngày</span>
                    <form>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-fullname-input" class="form-label">Khách hàng</label>
                                    <input ng-value="bookingDetail.booking.customer.fullName" class="form-control"
                                        id="formrow-fullname-input" readonly>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-email-input" class="form-label">CCCD/CMT</label>
                                    <input ng-value="bookingDetail.booking.customer.peopleId" class="form-control"
                                        id="formrow-email-input" readonly>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-email-input" class="form-label">SĐT</label>
                                    <input ng-value="bookingDetail.booking.customer.phoneNumber" class="form-control"
                                        id="formrow-email-input" readonly>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-firstname-input" class="form-label">Email</label>
                                    <input ng-value="bookingDetail.booking.customer.email" class="form-control"
                                        id="formrow-firstname-input" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-firstname-input" class="form-label">Ngày nhận</label>
                                    <input ng-value="bookingDetail.checkinExpected | date:'dd/MM/yyyy'"
                                        type="text" class="form-control" id="formrow-firstname-input" readonly>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-firstname-input" class="form-label">Ngày trả</label>
                                    <input ng-value="bookingDetail.checkoutExpected | date:'dd/MM/yyyy'"
                                        type="text" class="form-control" id="formrow-firstname-input" readonly>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-firstname-input" class="form-label">Số lượng người lớn</label>
                                    <input ng-value="bookingDetail.numAdults" type="number" class="form-control"
                                        id="formrow-firstname-input">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-firstname-input" class="form-label">Số lượng trẻ em</label>
                                    <input ng-value="bookingDetail.numChildren" type="number" class="form-control"
                                        id="formrow-firstname-input">
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <!-- end card body -->
                <div class="card-body border-top">
                    <div class="d-flex align-items-center">
                        <h5 class="fw-semibold flex-grow-1">Người ở</h5>
                        <div class="flex-shrink-0">
                            <button ng-click="modalPeopleRoom('show')" class="btn btn-sm btn-soft-success"><i
                                    class="mdi mdi-plus"></i></button>
                            <!-- <button ng-click="modalListCustomer('show')" class="btn btn-sm btn-soft-primary"><i
                                    class="mdi mdi-format-list-bulleted"></i></button> -->
                            <button ng-click="loadhostedAts()" class="btn btn-sm btn-light"><i
                                    class="mdi mdi-refresh"></i></button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap">
                            <thead>
                                <tr>
                                    <th scope="col">Họ tên</th>
                                    <th scope="col">SĐT</th>
                                    <th scope="col">Giới tính</th>
                                    <th scope="col">Ngày sinh</th>
                                    <th scope="col">CCCD/CMT</th>
                                    <th scope="col" style="width: 150px;">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in hostedAts">
                                    <th scope="row">
                                        {{item.customer.fullName}}
                                    </th>
                                    <td>{{item.customer.phoneNumber}}</td>
                                    <td>{{item.customer.gender ? "Nữ" : "Nam"}}</td>
                                    <td>{{item.customer.dateOfBirth | date:'dd/MM/yyyy'}}</td>
                                    <td>{{item.customer.peopleId}}</td>
                                    <td>
                                        <ul class="list-unstyled hstack gap-1 mb-0">
                                            <li>
                                                <button class="btn btn-sm btn-soft-primary"><i
                                                        class="mdi mdi-eye-outline"></i></button>
                                            </li>
                                            <!-- <li>
                                                <button class="btn btn-sm btn-soft-info"><i
                                                        class="mdi mdi-pencil-outline"></i></button>
                                            </li> -->
                                            <li>
                                                <button ng-click="removeHostedAt(item)"
                                                    class="btn btn-sm btn-soft-danger"><i
                                                        class="mdi mdi-delete-outline"></i></button>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end card body -->
                <div class="card-body border-top">
                    <div class="d-flex align-items-center">
                        <h5 class="fw-semibold flex-grow-1">Dịch vụ</h5>
                        <div class="flex-shrink-0">
                            <button ng-click="modalServiceRoom('show')" class="btn btn-sm btn-soft-primary"><i
                                    class="mdi mdi-format-list-bulleted"></i></button>
                            <button ng-click="loadUsedServices()" class="btn btn-sm btn-light"><i
                                    class="mdi mdi-refresh"></i></button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap">
                            <thead>
                                <tr>
                                    <th scope="col">Tên DV</th>
                                    <th scope="col">Loại</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Thành tiền</th>
                                    <th scope="col" style="width: 150px;">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in usedServices">
                                    <th scope="row">
                                        {{item.serviceRoom.name}}
                                    </th>
                                    <td>{{item.serviceRoom.serviceType.name}}</td>
                                    <td>{{item.serviceRoom.price}}</td>
                                    <td><input ng-model="item.quantity" ng-blur="updateServiceRoom(item)"
                                            style="width: 70px;" type="number" class="form-control form-control-sm"
                                            min="1"></td>
                                    <td>{{item.serviceRoom.price * item.quantity}}</td>
                                    <td>
                                        <ul class="list-unstyled hstack gap-1 mb-0">
                                            <!-- <li>
                                                <button class="btn btn-sm btn-soft-primary"><i
                                                        class="mdi mdi-eye-outline"></i></button>
                                            </li> -->
                                            <li>
                                                <button ng-click="removeServiceRoom(item)"
                                                    class="btn btn-sm btn-soft-danger"><i
                                                        class="mdi mdi-delete-outline"></i></button>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end card body -->
                <div class="card-body border-top">
                    <div class="d-flex flex-wrap gap-2">
                        <button ng-click="checkin()" class="btn btn-primary waves-effect waves-light">Nhận phòng</button>
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
    </div>

    <div id="modal-people-room" class="modal modal-lg fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="checkoutModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm khánh hàng</h5>
                    <button ng-click="modalPeopleRoom('hide')" type="button" class="btn-close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formrow-password-input" class="form-label">People ID</label>
                                <div class="input-group">
                                    <input ng-model="people.peopleId" class="form-control" id="formrow-password-input">
                                    <button ng-click="searchCustomer()" class="btn btn-outline-secondary" type="button">
                                        <i class="mdi mdi-account-search-outline"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formrow-fullname-input" class="form-label">Full Name</label>
                                <input ng-model="people.fullName" class="form-control" id="formrow-fullname-input">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formrow-email-input" class="form-label">Phone Number</label>
                                <input ng-model="people.phoneNumber" class="form-control" id="formrow-email-input">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formrow-firstname-input" class="form-label">Email</label>
                                <input ng-model="people.email" type="email" class="form-control"
                                    id="formrow-firstname-input">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formrow-password-input" class="form-label">Date of Birth</label>
                                <input ng-model="people.dateOfBirth" type="date" class="form-control"
                                    id="formrow-password-input">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formrow-firstname-input" class="form-label">Place of Birth</label>
                                <input ng-model="people.placeOfBirth" class="form-control" id="formrow-firstname-input">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Gender</label>
                                <div class="d-flex">
                                    <div class="form-check  form-check-inline">
                                        <input ng-model="people.gender" class="form-check-input" type="radio"
                                            id="form-radio-male" ng-value="false">
                                        <label class="form-check-label" for="form-radio-male">
                                            Male
                                        </label>
                                    </div>
                                    <div class="form-check  form-check-inline">
                                        <input ng-model="people.gender" class="form-check-input" type="radio"
                                            id="form-radio-female" ng-value="true">
                                        <label class="form-check-label" for="form-radio-female">
                                            Female
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="formrow-firstname-input" class="form-label">Address</label>
                                <textarea ng-model="people.address" class="form-control" id="formrow-firstname-input"
                                    rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="addPeople()" class="btn btn-primary">Thêm</button>
                    <button ng-click="modalPeopleRoom('hide')" class="btn btn-secondary">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-service-room" class="modal modal-lg fade" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Dịch vụ phòng</h5>
                    <button ng-click="modalServiceRoom('hide')" type="button" class="btn-close"></button>
                </div>
                <div class="modal-body">
                    <label>
                        <span>Search:</span>
                        <input ng-model="searchService" type="search" class="form-control form-control-sm">
                    </label>
                    <div class="table-responsive">
                        <table id="datatable-service-room" class="table align-middle table-nowrap table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Tên DV</th>
                                    <th scope="col">Loại</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in serviceRooms | filter:searchService">
                                    <th scope="row">
                                        {{item.name}}
                                    </th>
                                    <td>{{item.serviceType.name}}</td>
                                    <td>{{item.price}}</td>
                                    <td>
                                        <ul class="list-unstyled hstack gap-1 mb-0">
                                            <li>
                                                <button ng-click="addServiceRoom(item)"
                                                    class="btn btn-sm btn-soft-success"><i
                                                        class="mdi mdi-plus"></i></button>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="modalServiceRoom('hide')" class="btn btn-secondary">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-list-customer" class="modal modal-lg fade" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Service room</h5>
                    <button ng-click="modalListCustomer('hide')" type="button" class="btn-close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label>
                            <span>Search:</span>
                            <input ng-model="searchCustomer" type="search" class="form-control form-control-sm">
                        </label>
                    </div>
                    <div class="table-responsive">
                        <table id="datatable-service-room" class="table align-middle table-nowrap table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Date of Birth</th>
                                    <th scope="col">People ID</th>
                                    <th scope="col" style="width: 100px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in customers | filter:searchCustomer">
                                    <th scope="row">
                                        {{item.fullName}}
                                    </th>
                                    <td>{{item.phoneNumber}}</td>
                                    <td>{{item.gender ? "Nữ" : "Nam"}}</td>
                                    <td>{{item.dateOfBirth | date:'dd/MM/yyyy'}}</td>
                                    <td>{{item.peopleId}}</td>
                                    <td>
                                        <ul class="list-unstyled hstack gap-1 mb-0">
                                            <button ng-click="addHostedAt(item)" class="btn btn-sm btn-soft-success"><i
                                                    class="mdi mdi-plus"></i></button>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="modalListCustomer('hide')" class="btn btn-secondary">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</app-layout>