<app-layout name="">
    <!-- DataTables -->
    <link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> 
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-4">List Room</h4>
                    <div class="row mb-2">
                        <div class="col-sm-4">

                        </div>
                        
                        <div class="col-sm-8">
                            <div class="text-sm-end">
                                <a href="/#!/room/create" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"><i class="mdi mdi-plus me-1"></i> Add New Room</a>
                            </div>
                        </div>
                    </div>
                    <!-- table content -->
                    <table id="datatable-rooms" class="table table-hover table-reponsive">
                        <thead class="table-light">
                            <tr>
                                <th>Room number</th>
                                <th>Price</th>
                                <th>Room Type</th>
                                <th>Floor</th>
                                <th>Status</th>
                                <th>View Other</th>
                                <th>Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = "room in rooms">
                                <td>{{room.code}}</td>
                                <td>{{room.price | currency: '' : 0}} đ</td>
                                <td>{{room.roomType.name}}</td>
                                <td>{{room.floor.name}}</td>
                                <td>
                                    <span ng-if="room.status == 0" class="badge badge-pill badge-soft-success font-size-12">Trống</span>
                                    <span ng-if="room.status == 1" class="badge badge-pill badge-soft-danger font-size-12">Không hoạt động</span>
                                    <span ng-if="room.status == 2" class="badge badge-pill badge-soft-primary font-size-12">Đang ở</span>
                                    <span ng-if="room.status == 3" class="badge badge-pill badge-soft-warning font-size-12">Đang book</span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button id="dropdownMenuButton"
                                            class="btn ms-3"
                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                class="bx bx-dots-horizontal-rounded font-size-20"></i></button>

                                        <div aria-labelledby="dropdownMenuButton" class="dropdown-menu dropdown-menu-start">
                                            <button class="dropdown-item" title="View" data-bs-toggle="modal" data-bs-target="#viewBedRoom" ng-click="loadBedRoom(room.code)">Bed Room</button>
                                            <div class="dropdown-divider"></div>
                                            <button class="dropdown-item btn waves-light" title="View" data-bs-toggle="modal" data-bs-target="#listSupplyRoom" ng-click="loadSupplyRoom(room.code)">Supply</button>
                                            <div class="dropdown-divider"></div>
                                            <button class="dropdown-item btn waves-light" title="View" data-bs-toggle="modal" data-bs-target="#listImageRoom" ng-click="loadImageRoom(room.code)">Image room</button>
                                            <div class="dropdown-divider"></div>
                                            <button class="dropdown-item btn waves-light" title="View" data-bs-toggle="modal" data-bs-target="#viewOtherRoom">View Other</button>
                                        </div>
                                        
                                        <!-- Model view other room -->
                                        <div class="modal fade" id="viewOtherRoom" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="viewOtherRoomLabel">View Other</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="table-reponsive">
                                                            <table class="table table-hover align-middle">
                                                                <thead class="table-light">
                                                                    <tr>
                                                                        <th>Area</th>
                                                                        <th>Max adults add</th>
                                                                        <th>Max child add</th>
                                                                        <th>Is smoking</th>
                                                                        <th>Description</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>{{room.area}} M<sup>2</sup></td>
                                                                        <td>{{room.maxAdultAdd}}</td>
                                                                        <td>{{room.maxChildAdd}}</td>
                                                                        <td>
                                                                            <span>{{room.isSmoking ? 'Có' : 'Không'}}</span>
                                                                        </td>
                                                                        <td>{{room.description}}</td>
                                                                        <td>{{room.code}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End model view other room -->
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <button ng-click="edit(room)" class="btn">
                                        <a class="text-success" href="/#!/room/update/{{room.id}}" title="Edit">
                                            <i class="bx bxs-edit-alt font-size-20"></i>
                                        </a>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Model supply room -->
                    <div class="modal fade" id="listSupplyRoom" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="listSupplyRoomLabel">Supply room</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="table-reponsive">
                                        <table class="table table-hover align-middle">
                                            <thead class="table-light">
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Quantity</th>
                                                    <th>Unit</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="supplyRoom in supplyRooms">
                                                    <td>{{supplyRoom.supply.name}}</td>
                                                    <td>{{supplyRoom.quantity}}</td>
                                                    <td>{{supplyRoom.supply.unit}}</td>
                                                    <td>{{supplyRoom.supply.description}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End model supply room -->

                    <!-- Model image room -->
                    <div class="modal fade" id="listImageRoom" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="listImageRoomLabel">Image room</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <label ng-repeat="imageRoom in imageRooms">
                                        <img width="900px" class="img-responsive img-thumbnail" ng-src="{{url(imageRoom.image.url)}}" alt="error load image">
                                    </label>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End model image room -->
                
                    <!-- Model view bed room -->
                    <div class="modal fade" id="viewBedRoom" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="viewBedRoomLabel">Bed room</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="table-reponsive">
                                        <table class="table table-hover align-middle">
                                            <thead class="table-light">
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Max adults</th>
                                                    <th>Max child</th>
                                                    <th>Quantity</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="bedRoom in bedRooms">
                                                    <td>{{bedRoom.bedType.name}}</td>
                                                    <td>{{bedRoom.bedType.maxAdult}}</td>
                                                    <td>{{bedRoom.bedType.maxChild}}</td>
                                                    <td>{{bedRoom.quantityBed}}</td>
                                                    <td>{{bedRoom.bedType.description}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End model bed room -->
                </div>
            </div>
        </div>
        
    </div>

    <!-- Required datatable js -->
    <script src="assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="assets/libs/jszip/jszip.min.js"></script>
    <script src="assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    
    <!-- Responsive examples -->
    <script src="assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
</app-layout>