<app-layout name="">

    <div class="row mb-2">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">
            <div id="loading-spinner" ng-show="loading">
                <i class="fa fa-spinner fa-spin" style="font-size: 30px"></i>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="text-sm-end">
                <a class="btn btn-success btn-lg" ng-href="/#!/customers" role="button">
                    <i class="fas fa-arrow-left"></i> Back</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit customer</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <img ng-src="https://www.w3schools.com/images/picture.jpg"
                            style="max-width: 100%; max-height: 200px;">
                        <p></p>
                        <input type="file" id="peopleIdFrontImage" accept="image/*" capture="camera"
                            ng-model="customer.peopleIdFrontImage">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-3">
                        <img ng-src="https://www.w3schools.com/images/picture.jpg"
                            style="max-width: 100%; max-height: 200px;">
                        <p></p>
                        <input type="file" id="peopleIdFrontImage" accept="image/*"
                            ng-model="customer.peopleIdFrontImage">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <img ng-src="https://www.w3schools.com/images/picture.jpg"
                            style="max-width: 100%; max-height: 200px;">
                        <p></p>
                        <input type="file" id="peopleIdBackImage" accept="image/*"
                            ng-model="customer.peopleIdBackImage">
                    </div>
                </div>
            </div>

            <form ng-submit="updateCustomer()">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="fullName" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="fullName" placeholder="Full Name"
                                ng-model="customer.fullName" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">Phone Number</label>
                            <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number"
                                ng-model="customer.phoneNumber" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="gender" class="form-label">Giới tính</label>
                            <div class="row">
                                <div class="col-md-2">
                                    <input class="form-check-input" type="radio" name="gender" id="male"
                                        ng-model="customer.gender" ng-value="true">
                                    <label class="form-check-label" for="male">
                                        Nam
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-check-input" type="radio" name="gender" id="female"
                                        ng-model="customer.gender" ng-value="false">
                                    <label class="form-check-label" for="female">
                                        Nữ
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="Address"
                                ng-model="customer.address" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="placeOfBirth" class="form-label">Place of Birth</label>
                            <input type="text" class="form-control" id="placeOfBirth" placeholder="Place of Birth"
                                ng-model="customer.placeOfBirth" required>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email"
                                ng-model="customer.email" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="type" class="form-label">Type</label>
                            <input type="text" class="form-control" id="type" placeholder="Type"
                                ng-model="customer.customerType.name" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="dateOfBirth" class="form-label">Date of Birth</label>
                            <div class="input-daterange input-group" id="datepicker6" data-date-format="dd-mm-yyyy"
                                data-date-autoclose="true" data-provide="datepicker" data-date-container='#datepicker6'>
                                <input datepicker type="text" class="form-control" ng-model="customer.dateOfBirth"
                                    name="dob" placeholder="Ngày sinh" style="text-align: left;" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="peopleId" class="form-label">People ID</label>
                            <input type="text" class="form-control" id="peopleId" placeholder="People ID"
                                ng-model="customer.peopleId" required>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</app-layout>